/libs/
/obj/

/samples/SimpleJNIJNIJavaSample/obj/
/samples/SimpleJNIJNIJavaSample/libs/
/samples/SimpleJNIJNIJavaSample/target/
/samples/SimpleJNIJNIJavaSample/bin/

/samples/SimpleJNIHookSmaple/obj/
/samples/SimpleJNIHookSmaple/libs/
/samples/SimpleJNIHookSmaple/target/
/samples/SimpleJNIHookSmaple/bin/
