/src/obj/

/examples/SimpleJNIJNIJavaExample/obj/
/examples/SimpleJNIJNIJavaExample/libs/
/examples/SimpleJNIJNIJavaExample/target/
/examples/SimpleJNIJNIJavaExample/bin/

/examples/SimpleJNIHookExample/obj/
/examples/SimpleJNIHookExample/libs/
/examples/SimpleJNIHookExample/target/
/examples/SimpleJNIHookExample/bin/

/examples/SimpleJNIInjectExample/obj/
/examples/SimpleJNIInjectExample/libs/
/examples/SimpleJNIInjectExample/target/
/examples/SimpleJNIInjectExample/bin/
